body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: url('https://raw.githubusercontent.com/arunperiyal/arunperiyal.github.io/main/figs/cover_image.jpg') no-repeat center center/cover;
    color: #ffffff;
    text-align: center;
    height: 150px;
    line-height: 30px;
    font-size: 30px;
    z-index: 1100;
}
.site-header h1 {
    color: black;
}
.site-footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1100;
}
.horizontalbar {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid white;
    z-index: 1090;
}
.horizontalbar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
}
.horizontalbar a:hover {
    background-color: #444;
    padding: 12px 22px;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
}
.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 200px;
    left: -250px;
    background-color: #222;
    padding-top: 20px;
    transition: 0.3s;
    color: white;
    z-index: 1200;
}
.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}
.sidebar a:hover {
    background-color: #575757;
}
.toggle-container {
    position: fixed;
    top: 210px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: 1300;
    cursor: pointer;
}
.toggle-btn {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}
.sidebar.open {
    left: 0;
}
.toggle-container.open {
    left: 260px;
}
.content {
    margin-top: 150px;
    padding: 20px;
    margin-left: 250px;
    transition: 0.3s;
}
.carousel-container {
	 top: 200px;
    width: 60%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}
.carousel-container h2 {
	 text-align:center;
	 font-size: 2.5em;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
	text-decoration: none;
    min-width: 100%;
    background-color: #f8f8f8;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.carousel-item:hover {
    transform: scale(1.05);
}
.carousel-item a {
	 text-decoration: none;
}
.carousel-item h3 {
	 text-decoration: none;
    font-size: 1.8em;
    text-align: center;
    color: #142f43;
    margin-bottom: 0.5em;
    
}
.carousel-item p {
	text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    color: #555;
}
.carousel-controls {
    position: absolute;
    top: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.carousel-controls button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    margin-top: 20em;
}
.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 280px;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px) scale(1.05);
}
.card-icon {
    background-color: #142f43;
    color: #ffffff;
    padding: 1em;
    text-align: center;
    font-size: 3em;
}
.card-content {
    padding: 1.5em;
    text-align: center;
}
.card-content h3 {
    margin: 0.5em 0;
    font-size: 1.5em;
    color: #142f43;
}
.card-content p {
    font-size: 1em;
    color: #555;
}
.areas-of-interest {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5em;
	justify-content: center;
	margin-top: 5em;
	background: linear-gradient(to right, #222, #142f43);
	padding: 3em;
	border-radius: 12px;
}
.areas-of-interest h2 {
	font-weight: 700;
	font-size: 2.2em;
	color: #ffffff;
	text-align: center;
	width: 100%;
	margin-bottom: 1em;
}
.areas-of-interest ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1em;
}
.areas-of-interest ul li {
	display: inline-block;
	background: #f4d35e;
	color: #142f43;
	font-weight: bold;
	padding: 12px 24px;
	margin: 5px;
	border-radius: 25px;
	font-size: 1.1em;
	transition: transform 0.3s, box-shadow 0.3s;
}
.areas-of-interest ul li:hover {
	transform: scale(1.1);
	box-shadow: 0 4px 10px rgba(255, 215, 0, 0.5);
}
.contact-details {
    background-color: #142f43;
    color: #ffffff;
    padding: 2em 0;
    text-align: center;
}
.contact-details a {
    color: #f4d35e;
    text-decoration: none;
    margin: 0 10px;
}
.contact-details a:hover {
    text-decoration: underline;
}
